/************HEADER*********/
.hide {
    display: none!important;
}
header.masthead{
    background-image: url('https://images7.alphacoders.com/110/1102604.jpg');
    margin-bottom: 50px;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    color: black;
}

.overla1y {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
    text-decoration: none;
}

.site-heading {
    text-align: center;
    color: #d7cccc;
    /*
    color: black;
    text-shadow: 2px -1px 4px rgba(163, 150, 150, 1);
    */
}

.site-heading h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.site-heading p {
    font-weight: 500;
    font-style: italic;
}

.jumbotron {
    background-image: url('https://images7.alphacoders.com/110/1102604.jpg');
    background-size: cover;
}
header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
        padding: 200px 0;
    }
    .site-heading {
        padding: 100px 0;
    }
}
@media (min-width: 576px) {
    .form-inline .custom-select, .form-inline .input-group {
        width: 30vw!important;
    }
}
@media (min-width: 576px) {
     .jumbotron {
         padding: 0!important; 
    }
}
/*************END HEADER*****************************/


/*************NAVIGATION*****************************/
#mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        transition: background-color .2s;
        transform: translate3d(0,0,0);
    }
}
/*************END NAVIGATION*************************/
.jumbotron{
    padding: 0!important;
}
.posts h1 {
    color: black;
}

.posts a:hover{
    text-decoration: none;
}

#delete_form {
    display: inline-block;
}

#view_content {
    white-space: pre-wrap;
}
/*************POST CARDS**************/
.post-preview {
    padding: 2rem;
    transition: transform .2s;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}
.post-preview h1{
    font-size: 1.8rem;
}

#list_posts a {
    text-decoration: none;
    color: gray;
}

#list_posts a:hover {
    color: black;
}

.post-preview:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
}

#filter h2 {
    font-size: 1.4rem;
}

.overlay {
    background-color: #00000087;
}

#post-image {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}