/************HEADER*********/
header.masthead{
    background-image: url('https://images7.alphacoders.com/110/1102604.jpg');
    margin-bottom: 50px;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .5;
    text-decoration: none;
}

.site-heading {
    text-align: center;
    color: black;
    text-shadow: 2px -1px 4px rgba(163, 150, 150, 1);
}

.site-heading h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.site-heading p {
    font-weight: 500;
    font-style: italic;
}

.jumbotron {
    background-image: url('https://images7.alphacoders.com/110/1102604.jpg');
    background-size: cover;
}
header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading {
        padding: 200px 0;
    }
    .site-heading {
        padding: 100px 0;
    }
}

/*************END HEADER*****************************/


/*************NAVIGATION*****************************/
#mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        transition: background-color .2s;
        transform: translate3d(0,0,0);
    }
}
/*************END NAVIGATION*************************/

.posts h1 {
    color: black;
}

.posts a:hover{
    text-decoration: none;
}

#delete_form {
    display: inline-block;
}

#view_content {
    white-space: pre-wrap;
}
