{% extends "layout.html" %}
{% block content %}

<div class="text-center">
    <h2>Hi! Edit your post</h2>
</div>

<form method="POST" action="">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">

    </div>
    <div class="form-group">
        <label for="owner">Owner</label>
        <input type="text" class="form-control" id="owner" name="owner" value="{{post.owner}}">
    </div>
    <div class="form-group">
        <label for="contents">Content</label>
        <textarea class="form-control" id="contents" rows="10" name="contents">{{post.contents}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock content %}