{% extends "layout.html" %}
{% block content %}

<div class="text-center">
    <h2>Hi! Edit your post</h2>
</div>
<div class="card-body">

    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
            {% if error %}
            <p class=error style="color: red">
                <strong>Error:</strong> {{ error }}
                {% endif %}
        </div>

        <div class="form-group">
            <label for="contents">Content</label>
            <textarea class="form-control" id="contents" rows="10" name="contents">{{post.contents}}</textarea>
            {% if error %}
            <p class=error style="color: red">
                <strong>Error:</strong> {{ error }}
                {% endif %}
        </div>

        <p>
            <input type="file" name="file" value="{{post.img}}">
            {% if error %}
        <p class=error style="color: red">
            <strong>Error:</strong> {{ error }}
            {% endif %}
        </p>

        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{{url_for('index.view_post', pid=post.post_id)}}" class="btn btn-warning">Cancel</a>
    </form>
    </div>
    {% endblock content %}
