<header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Web Tech's Blog</h1>
                    <span class="subheading">Check our latest posts in web technologies!</span>

                    {% if g.user %}
                    <p class="nav-item mt-2"><span>Hello {{ session['name']| capitalize  }} !</span></p>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</header>