{% extends "layout.html" %}
{% block content %}

<div class="row posts">
    <div class="col-lg-8 col-md-10 mx-auto">
        <a href="{{url_for('users.new')}}" class="btn btn-outline-warning"> Add new user</a>
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for user in content %}
                <tr>

                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% if session['user_id'] == user.user_id or session['name'] == 'admin' %}
                        <a href="{{url_for('users.view_user', pid=user.user_id)}}" class="btn btn-outline-secondary">
                            Edit User
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}