{% extends "layout.html" %}

{% block content %}
    {% for post in content %}
<div class="row posts">
    <div class="col-lg-6 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="{{url_for('index.view_post', pid=post.post_id)}}">
                <h1>{{ post.title }}</h1>
            </a>

            <p>By {{ post.name }} on {{ post.created_at}} <small>Post Id is {{post.post_id}}</small></p>
            <p>{{ post.contents[:150] }} ...</p>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock content %}