<!DOCTYPE html>

<html lang="en">
{% include 'head.html' %}

<body>
    {% include 'navigation.html' %}
    <div class="container mt-5">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Login</h3>
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="name" id="name">

                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                        </div>
                        <div class="form-group">

                            <input type="submit" value="Login" class="btn float-right login_btn" onclick="submit_login()">
                        </div>
                    </form>
                    <script type="text/javascript" src="{{url_for('static', filename='login.js') }}">

                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
