{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center" id="jumbotron-style">
    <h2>Check our latest posts in web technologies!</h2>
</div>
    {% for post in content %}
<div class="row posts">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="{{url_for('index.view_post', pid=post.post_id)}}">
                <h1>{{ post.title }}</h1>
            </a>

            <p>By {{ post.owner }} on {{ post.created_at }} <small>Id is {{post.post_id}}</small></p>

            <p>{{ post.contents[:150] }} ...</p>
        </div>
    </div>
</div>
    {% endfor %}

{% endblock content %}