{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h2>Check our latest posts in web technologies!</h2>
</div>
    {% for post in content %}
<div class="row posts">
    <div class="col-md-6 offset-md-3">
        <a href="{{url_for('view_post', id=post.id)}}">
            <h1>{{ post.title }}</h1>
        </a>

        <p>By {{ post.owner }} on {{ post.created_at }} <small>Id is {{post.id}}</small></p>
        <p>{{ post.contents }}</p>

    </div>
</div>
    {% endfor %}

{% endblock content %}