{% extends "layout.html" %}
{% block content %}

<div class="text-center">
    <h2>Hi! View your post</h2>
</div>
<div class="row posts">
    <div class="col-lg-8 col-md-10 mx-auto">
        <h3>{{post.title}}</h3>
        <p> {{ post.created_at }} <small>Post Id is {{post.post_id}}</small></p>
        <p><pre id="view_content">{{ post.contents }}</pre></p>
        <p>Post owner id {{post.owner}}</p>
        <p>User id {{session['user_id']}}</p>
       
   
        <a href="{{url_for('index.edit', pid=post.post_id)}}" class="btn btn-primary">Edit your post</a>
        <a href="{{url_for('index.delete', pid=post.post_id)}}"
           class="btn btn-warning"
           onclick="if (!confirm('Delete selected post?') ) return false">
            Delete your post
        </a>

    </div>
</div>
{% endblock content %}
